:root{
    --blue-light : #76BBDB;
    --blue-dark : #337AB8;
    --blue-dark-hover: #337AC9;
}

body{
    background-color: #76BBDB;
    color : #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: #FFFFFF;
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color : white;
}

a:hover{
    color: antiquewhite;
}

.dark-bg{
    background-color: var(--blue-dark);
}

.btn-primary{
    --bs-btn-bg: var(--blue-dark);
    --bs-btn-border-color: var(--blue-dark);
    --bs-btn-hover-bg: var(--blue-dark-hover);
}

div#password-check{
    display: none;
    background-color: white;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom:0;
}

ul#password-check-list{
    list-style-type: none;
}

#suggest{
    background-color: white;
    z-index: 1;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 0.2em;
    display: none;
    overflow: scroll;
    height: 9rem;
    text-align: left;
}
